:root {
    --outlines : #2e4252;
    --bnkpaper : #e5dab9;
    --text_ink : #738e85;
    --hghlight : #bebba1;
}

body {
    font-family     : rubik;
    font-size       : 24;
    color           : var(--outlines);
    background-color: var(--bnkpaper);
    margin-top      : 48px;
    margin-left     : 224px;
    margin-bottom   : 48px;
    margin-right    : 224px;
}

::selection, ::-moz-selection {
    color           : var(--hghlight);
    background-color: var(--outlines);
}

a {
    color           : var(--text_ink);
    text-decoration : none;
}
a::selection,  a::-moz-selection {
    color           : var(--bnkpaper);
    background-color: var(--text_ink);
}
a:hover {
    color           : var(--outlines);
}

h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1em;
}
h1, h2, h3, h4 {
    margin-top      : 24px;
    margin-bottom   : 8px;
    margin-left     : 48px;
    margin-right    : 48px;
}

nav h2 {
    margin          : 0px;
}

p {
    font-family     : PT;
    margin-top      : 8px;
    margin-bottom   : 0px;
    margin-left     : 52px;
    margin-right    : 52px;
}
del {
    text-decoration-thickness: 0.1em;
}

nav, main, footer {
    outline         : solid 3px var(--outlines);
    padding-top     : 8px;
    padding-bottom  : 8px;
    padding-top     : 32px;
    padding-bottom  : 32px;
    padding-left    : 24px;
    padding-right   : 24px;
}

hr {
    border          : 2px solid var(--outlines);
    margin-top      : 8px;
    margin-left     : 48px;
    margin-right    : 48px;
    margin-bottom   : 16px;
}
code {
    font-family     : "Space Mono", monospace;
    font-size       : 0.8em;
    color           : var(--hghlight);
    padding-top     : 2px;
    padding-left    : 3px;
    padding-bottom  : 2px;
    padding-right   : 3px;
    overflow        : auto !important;
    position        : relative !important;
}

code::selection, code::-moz-selection {
    color           : var(--text_ink);
    background-color: var(--bnkpaper);
}

main pre {
    margin-left: 64px;
    margin-right: 64px;
    padding-top     : 4px;
    padding-left    : 3px;
    padding-bottom  : 4px;
    padding-right   : 3px;
    background-color: var(--outlines);
}

main p code {
    background-color: var(--outlines);
}
