:root {
    --outlines : #2e4252;
    --bnkpaper : #e5dab9;
    --text_ink : #738e85;
    --hghlight : #bebba1;
}

body {
    background-color: var(--bnkpaper);
    font-size       : 24;
    margin-top      : 48px;
    margin-left     : 224px;
    margin-bottom   : 48px;
    margin-right    : 224px;
}

h1, h2, h3, h4, h5 {
    font-family     : rubik;
    margin-top      : 8px;
    margin-bottom   : 8px;
    margin-left     : 48px;
    margin-right    : 48px;
}

p {
    font-family     : PT;
    margin-top      : 8px;
    margin-bottom   : 0px;
    margin-left     : 52px;
    margin-right    : 52px;
}

main {
    color           : var(--outlines);
    background-color: var(--bnkpaper);
    outline         : solid 3px var(--outlines);

    padding-top     : 32px;
    padding-bottom  : 32px;
    padding-left    : 24px;
    padding-right   : 24px;
}

body section {
    color           : var(--outlines);
    background-color: var(--bnkpaper);
    outline         : solid 3px var(--outlines);

    padding-top     : 32px;
    padding-bottom  : 32px;
    padding-left    : 24px;
    padding-right   : 24px;
}

footer {
    font-family     : rubik;
    color           : var(--outlines);
    background-color: var(--bnkpaper);
    outline         : solid 3px var(--outlines);

    padding-top     : 32px;
    padding-bottom  : 32px;
    padding-left    : 24px;
    padding-right   : 24px;
}


main hr {
    border          : 2px solid var(--outlines);
    margin-top      : 8px;
    margin-left     : 48px;
    margin-right    : 48px;
    margin-bottom   : 16px;
}
main code {
    color           : var(--text_ink);
    background-color: var(--bnkpaper);
    padding-top     : 1px;
    padding-left    : 2px;
    padding-bottom  : 1px;
    padding-right   : 2px;
}

main p::selection, footer p::selection,
main p::-moz-selection, footer p::-moz-selection

main h1::selection, footer h1::selection,
main h1::-moz-selection, footer h1::-moz-selection

main h2::selection, footer h2::selection,
main h2::-moz-selection, footer h2::-moz-selection

main h3::selection, footer h3::selection,
main h3::-moz-selection, footer h3::-moz-selection

main h4::selection, footer h4::selection,
main h4::-moz-selection, footer h4::-moz-selection

main h5::selection, footer h5::selection,
main h5::-moz-selection, footer h5::-moz-selection {
    color           : var(--hghlight);
    background-color: var(--outlines);
}

main a, footer a {
    color           : var(--text_ink);
    text-decoration : none;
}

main a::selection     , footer a::selection,
main a::-moz-selection, footer a::-moz-selection {
    color           : var(--bnkpaper);
    background-color: var(--text_ink);
}

main a:hover, footer a:hover {
    color           : var(--outlines);
}

main code::selection     , footer code::selection,
main code::-moz-selection, footer code::-moz-selection {
    color           : var(--bnkpaper);
    background-color: var(--outlines);
}
