:root {
    --outlines : #2e4252;
    --bnkpaper : #e5dab9;
    --text_ink : #738e85;
    --hghlight : #bebba1;
}

body {
    font-family     : "Rubik Mono One", monospace;
    font-size       : 24;
    color           : var(--outlines);
    background-color: var(--bnkpaper);
    margin-top      : 3%;
    margin-left     : 16%;
    margin-bottom   : 3%;
    margin-right    : 16%;
}

::selection, ::-moz-selection {
    color           : var(--hghlight);
    background-color: var(--outlines);
}

a {
    color           : var(--text_ink);
    text-decoration : none;
}
a::selection,  a::-moz-selection {
    color           : var(--bnkpaper);
    background-color: var(--text_ink);
}
a:hover {
    color           : var(--outlines);
}

ul {
    margin-left     : 24px;
    margin-right    : 24px;
}

h1 {
    font-size       : 1.8em;
    margin-top      : 0px;
    margin-left     : 48px;
    margin-right    : 48px;
}
h2 {
    font-size       : 1.6em;
}
h3 {
    font-size       : 1.2em;
}
h4 {
    font-size       : 1em;
}
h2, h3, h4 {
    margin-top      : 8px;
    margin-bottom   : 8px;
    margin-left     : 48px;
    margin-right    : 48px;
}

nav h2 {
    margin          : 0px;
}

p {
    font-family     : "PT Mono", monospace;
    margin-top      : 4px;
    margin-bottom   : 4px;
    margin-left     : 48px;
    margin-right    : 48px;
}

del {
    text-decoration-thickness: 0.1em;
}

main, footer {
    outline         : solid 3px var(--outlines);
    padding-top     : 32px;
    padding-bottom  : 32px;
    padding-left    : 24px;
    padding-right   : 24px;
}

nav {
    outline         : solid 3px var(--outlines);
    padding-top     : 16px;
    padding-left    : 24px;
    padding-bottom  : 16px;
    padding-right   : 24px;
}

blockquote p {
    color           : var(--hghlight);
    background-color: var(--outlines);
    margin-left     : 48px;
    margin-right    : 48px;
}

hr {
    border          : 2px solid var(--outlines);
    margin-top      : 8px;
    margin-left     : 48px;
    margin-bottom   : 16px;
    margin-right    : 48px;
}
code {
    font-family     : "Space Mono", monospace;
    font-size       : 0.8em;
    color           : var(--hghlight);
    padding-top     : 2px;
    padding-left    : 3px;
    padding-bottom  : 2px;
    padding-right   : 3px;
}

code::selection, code::-moz-selection {
    color           : var(--text_ink);
    background-color: var(--bnkpaper);
}

main pre {
    margin-left     : 48px;
    margin-right    : 48px;
    max-height      : 128px;
    overflow-x      : scroll;
    background-color: var(--outlines);
}

main pre code {
    padding-top     : 4px;
    padding-left    : 6px;
    padding-bottom  : 4px;
    padding-right   : 6px;
    border-top      : 4px;
    border-left     : 4px;
    border-bottom   : 4px;
    border-right    : 4px;
}

main p code {
    background-color: var(--outlines);
}

input[ type = "checkbox" ] {
    color           : var(--outlines);
    background-color: var(--bnkpaper);
    appearance      : none;    
    border          : 0.16em solid var(--outlines);
    border-radius   : 0.24em;
    width           : 1em;
    height          : 1em;
    margin-right    : 8px;
    margin-left     : -16px;
    transform       : translateY(0.3em);
}
