.default {
    color           : #CCEE66;
    background-color: #3C4D09;
    font-family: 'PT Mono', monospace;
}
.logo {
    font-family: 'DM Mono', monospace;
    font-size  : 32px;
}
.j_text {
    font-family: 'DM Mono', monospace;
    font-size  : 24px;
}

.light_hr {
    height: 2px;
    border: none;
    background-color: #CCEE66;
}

div {
    padding-top   : 10px;
    padding-left  : 20px;
    padding-bottom: 10px;
    padding-right : 20px;
}
hr {
    height: 4px;
    background-color: #2B381D;
    border: none;
}
li {
    color           : #CCEE66;
    background-color: #2B381D;
    padding-top   : 10px;
    padding-left  : 10px;
    padding-bottom: 10px;
    padding-right : 20px;
}

code {
    font-size  : 14px;
    color           : #8866EE;
    background-color: #2A1D38;
    padding-top   : 1px;
    padding-left  : 2px;
    padding-bottom: 1px;
    padding-right : 2px;
}

::selection {
    color: #2A1D38;
    background: #8866EE;
  }

/* fullclick class was originally written by christianheilmann.com */
.fullclick {
    margin   : 1em 0;
    padding  : 0;
    max-width: 30em;
}
.fullclick li {
    list-style: none;
    margin    : 1em 0;
    padding   : 10px 10px;
    background: #2B381D;
    position  : relative;
    transition: 400ms;
}
.todelete {
    opacity: 0;
}
.fullclick p a {
    color   : #CCEE66;
    z-index : 2;
    position: relative;
}
.fullclick a.main {
    color     : #CCEE66;
    text-align: right;
    display   : block;
    z-index   : 1;
}
.fullclick li a.main::after {
    position: absolute;
    content : ' ';
    top: 0; left: 0; right: 0; bottom: 0;
}
.fullclick:hover a.main,
.fullclick:focus-within a.main {
    color : #CCEE66;
}
.fullclick li button {
    z-index : 2;
    position: absolute;
    top     : 5px;
    right   : 5px;
    opacity : 0;
    transition: 400ms;
    border    : none;
    color     : #ffffff;
    background: #3C4D09;
}
.fullclick li:hover button,
.fullclick li:focus-within button {
    opacity  : 1;
}
.fullclick li:hover, .fullclick li:focus-within {
    background:#3C4D09;
    box-shadow: 0px 3px 6px #2B381D;
}
